doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/styles.css')
  body
    h2= title

    img#bb(src="/batbot_tiny.png")
    img#draw-icon(src="/pencil.png")

    canvas(id="draw", width="400", height="400")
    canvas(id="move", width="400", height="400")

    if (robot)
        video(id="webcam", width="400", height="350")

    .nav
      if prev
        a(href=prev) Prev
      if next
        a(href=next) Next

    script(src="/socket.io/socket.io.js")
    script(src="/js/vektor.js")
    script(src="/js/random.min.js")
    script(src="/js/draw.js")
    if (robot)
        script(src="/js/video.bundle.js")
