h2 {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  color: rgb(88,83,95);
}

body {
  padding: 1em 0 0 2em;
}

canvas {
  outline: 1px solid black;
}

#bb {
  display: none;
}

#move {
  /*outline: 5px solid red;*/
  position: absolute;
  top: 5em;
  left: 3em;
}

#draw {
  /*outline: 3px solid blue;*/
  position: absolute;
  top: 5em;
  left: 3em;
}

#webcam {
  position: absolute;
  right: 3em;
}

.nav {
  margin-top: 28em;
  margin-left: 23em;
}

a {
  outline: 2px solid red;
  padding: 5px;
  text-decoration: none;
}

#draw-icon {
  height: 50px;
  position: absolute;
  top: 1em;
  left: 24em;
}
