doctype 5
html
  head
    title Artie the ArtBot
    link(rel='stylesheet', href='/styles.css')
  body
    h2 Artie the ArtBot

    img(id="bb", src="/batbot_tiny.png")

    canvas(id="move", width="500", height="300")
    canvas(id="draw", width="500", height="300")

    script(src="/socket.io/socket.io.js")
    script(src="/js/ender.min.js")
    script(src="/js/vektor.js")
    script(src="/js/move.js")
